SetEnv EDMS_API_KEY "mh4SektuLPVzK9jJEs0dWMxBID3ZpcnvgT1Qol7FUi2faN8q"
<IfModule mod_rewrite.c>
  RewriteEngine On
  #RewriteBase /wms/

  #RewriteCond %{REQUEST_FILENAME} !-f
  #RewriteRule ^ index.php [QSA,L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>